.tiktok-card {
    width: 348px;
    text-wrap: pretty;
    word-wrap: break-word;
    max-height: 700px;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 10px;
}

.card-container {
    width: 80vw;
    gap: 20px;
    flex-wrap: wrap;
}